.fr {
    display: block;
    float: right;
}


.outer {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;


    height: 100vh;
    background: linear-gradient(to top, #000000, #a06fe5) no-repeat;

    background: linear-gradient(to left, #000000, #895ec9, #000000) no-repeat;

    /* background: linear-gradient(to top, #9797b8 50%, #7878e6 90%) no-repeat; */
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
}

.btn {
    margin-top: 20px;
    border-radius: 15px;
    background: linear-gradient(#000000, #895ec9);

}

.btn:hover {
    background: linear-gradient(to top, #000000, #a06fe5) no-repeat;

}

.panel {
    min-height: 400px;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(0, 0, 0, 0.05);
    /* box-shadow: 20px 20px 80px rgb(255, 255, 255);  */
    border-radius: 12px;
    margin-top: 100px;
    margin-left: 0;
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #000000
}

.input-field.error {
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}





.bordert:after {

    content: "or connect with";

    position: absolute;

    top: -13px;

    left: 33%;

    background-color: #fff;

    padding: 0px 8px
}

@media(max-width: 360px) {

    #forgot {

        margin-left: 0;

        padding-top: 10px
    }

    body {

        height: 100%
    }

    .container {

        margin: 30px 0
    }

    .bordert:after {

        left: 25%
    }

}

/* Added Css for eye icon button */

.bg-white {

    background: none;

    border: none;

}







/* added height css for ngtoast */




.toast-right-top {

    height: auto !important;

}