<app-navbar></app-navbar>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4" *ngFor="let emp of data">
            <div class="card card-margin" >
                <div class="card-body pt-4">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper ">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">HBD</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">
                                    <h5>{{emp.name | uppercase }}</h5>
                                </span>
                                <span class="widget-49-meeting-time">{{emp.jobTitle}}</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>{{emp.email}}</span></li>
                            <li class="widget-49-meeting-item"><span>{{emp.dob}}</span></li>

                        </ul>

                        <div class="widget-49-meeting-action">
                            <a class="btn btn-sm btn-outline-danger" (click)="openModal(template, emp.id, emp.name)">Send Birthday wish!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>



<ng-template #template >
    <div class="modal-header popup " style="text-align: center;">
        <h4 class="modal-title">Send Birthday Wish !</h4>
        <a class="close mb-2" (click)="modalRef.hide()">&times;</a>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group">
                <textarea id="textareaValue" formControlName="textareaValue" class="form-control" rows="10"
                    placeholder="Wanna add custom birthday message, not required!"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary  py-1 " (click)="modalRef.hide()">Close</button>
        <button type="button" class="btn btn-dark  py-1 px-3" (click)="onSubmit()">Send</button>
    
    </div>
</ng-template>