<app-navbar></app-navbar>

<div class="container">
    <div class="row mt-4">
       
        <div class="col-lg-8 offset-lg-2 table-responsive">
            <button class="btn btn-dark btn-sm txt-right mb-2">Add emp</button>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Full Name</th>
                        <th>Job Title</th>
                        <th>Email</th>
                        <th>DOB</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td></td>
                        <td>
                            <div class="input-container">
                                <i class="fas fa-search"></i>
                                <input type="text" class="form-control custom-style" placeholder="Search by Name"
                                [(ngModel)]="seachByName"  >
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <i class="fas fa-search"></i>
                                <input type="text" class="form-control" placeholder="Search by Job role"
                                [(ngModel)]="searchByJobRole"  >
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <i class="fas fa-search"></i>
                                <input type="text" class="form-control" placeholder="Search by Email"
                                [(ngModel)]="searchByEmail"  >
                            </div>
                        </td>
                        <td>
                            <div class="input-container">
                                <i class="fas fa-search"></i>
                                <input type="text" class="form-control" placeholder="Search by DOB"
                                [(ngModel)]="searchByDOB"   >
                            </div>
                        </td>
                    </tr>
        
                    <tr *ngFor="let emp of employess | search: seachByName:searchByJobRole:searchByEmail:searchByDOB ; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.jobTitle}}</td>
                        <td>{{emp.email}}</td>
                        <td>{{emp.dob}}</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>