<app-navbar></app-navbar>

<div class="container">
    <div class="row mt-4">
        <div class="col-lg-8 offset-lg-2">
            <div class=" table-responsive">
                <table class="table">
                    <thead >
                        <tr>
                            <th></th>
                            <th>Full Name</th>
                            <th>Job Title</th>
                            <th>Email</th>
                            <th>DOB</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Vincent Williamson</td>
                            <td>iOS Developer</td>
                            <td>admin@gmail.com</td>
                            <td>2000-11-12</td>


                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Taylor Reyes</td>
                            <td>UI/UX Developer</td>
                            <td>admin@gmail.com</td>
                            <td>2000-11-12</td>


                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Justin Block</td>
                            <td>Frontend Developer</td>
                            <td>admin@gmail.com</td>
                            <td>2000-11-12</td>


                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Sean Guzman</td>
                            <td>Web Designer</td>
                            <td>admin@gmail.com</td>
                            <td>2000-11-12</td>

                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Keith Carter</td>
                            <td>Graphic Designer</td>
                            <td>admin@gmail.com</td>
                            <td>2000-11-12</td>


                        </tr>
                     


                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>