<app-navbar></app-navbar>
<div class="body pt-4" >
    <div class="card offset-lg-5 offset-md-4 offset-sm-3 offset-2">
        <div class="back"></div>
        <div class="front">
            <div class="imgset">
                <img width="100%"
                    src="https://1.bp.blogspot.com/-Mgj9-rbs65E/XfMoPSD5gtI/AAAAAAAAURk/NBokE2gSS2cTSJ2em5lZ5hJDuTtRN7UVwCLcBGAsYHQ/s1600/2713997.png">
            </div>
        </div>
        <div class="text-container ">
            <p id="head">HAPPY BIRTHDAY 🎂  {{user.name}}</p>
            <p>We hope your special day will bring you lots of happiness, love, and fun. You deserve them a lot. Enjoy! Hope your day goes great!
            </p>  
            <!-- <p>Hope your day goes great!</p> -->
            <p class="bg-light">Team Eous !<span> 😎 </span></p>
        </div>
    </div>
</div>