<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="container">
        <div class="navbar-nav" style="display: flex; justify-content: flex-end">

            <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Profile</a>
            <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">Employees</a>
            <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">Birthday</a>

            <button class="btn btn-link nav-item nav-link">Logout</button>
        </div>
    </div>
</nav>